<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023056468507-h1lpi2p9u77id75eb3j1to8p3cu7kurq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023056468507-h1lpi2p9u77id75eb3j1to8p3cu7kurq</string>
	<key>API_KEY</key>
	<string>AIzaSyCv4Tj1VsFlGcEkhado-ctqi7dlSY-hVvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1023056468507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tms.dmitry.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>finalproject-b09c1</string>
	<key>STORAGE_BUCKET</key>
	<string>finalproject-b09c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023056468507:ios:a6055dd7e07d306fe3f6be</string>
</dict>
</plist>